/* Error: Undefined variable.
 *    ,
 * 19 |     color: $accent;
 *    |            ^^^^^^^
 *    '
 *   _sass/_style.scss 19:12  @use
 *   _sass/main.scss 1:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 19 \2502      color: $accent;\a    \2502             ^^^^^^^\a    \2575 \a   _sass/_style.scss 19:12  @use\a   _sass/main.scss 1:1      root stylesheet";
}
